body {
    background-color: #ecf0f1;
}

h1 {
    color: #25ff2a;
}

.clicked {
    color: #22ff;
}

.cursor {
    cursor: pointer;
}

.form,
.greeting {
    display: none;
}

.showing {
    display: block;
}